.heroMain{
    background-color: #0E0C38;
    position: relative;
}
.container{
    max-width: 1749px;
    margin: 0 auto;
}
.heroWrap{
    color: white;
    display: flex;
    padding-bottom: 15px;
}
.heroHeading, .heroImage{
    width: 50%;
    text-align: left;
    display: flex;;
}
.heroHeading{
    align-items: center;
}
.heroImage img{
    max-width: 100%;
}
h4{
    font-weight: 400;
}
h1{
    line-height: 1;
    margin: -5px;
}
p{
    font-size: 26px;
}
span{
    color: red;
}
.findmePara{
    margin-top: 40px;
    font-size: 30px;
}
.socialMedia {
    margin-top: 22px;
}
.socialMedia img{
    margin-right: 33px;
}
.heroButtons{
    display: flex;
    margin-top: 69px;
}
.heroheadingWrap button{
    padding: 30px 85px;
    margin-right: 26px;
    border-radius: 50px;
    font-size: 30px;
    font-weight: 500;
    background-color: transparent;
    border: 2px solid white;
    color: white;
}
.heroheadingWrap button:hover{
    background-color: red;
    border-color: red;
    transition: all 0.7s;
}
.heroSideBar ul{
    list-style-type: none;
    font-size: 20px;
    width: 50%;
    margin: 20px auto;
    color: #8D8D8D;
}
.heroSideBar li{
    padding: 15px 0px 6px 0px;
    border-bottom: 2px solid #707070;
}
.heroSideBar li:hover{
    color: white;
}
.heroSideBar{
    position: absolute;
    right: 0;
    bottom: 0;
}


@media only screen and (max-width:1366px) {
    .heroDottedImage img{
        width: 240px;
    }
    .heroheadingWrap h4{
        font-size: 28px;
    }
    .heroheadingWrap h1{
        font-size: 75px;
    }
    .heroheadingWrap p{
        font-size: 16px;
    }
    .socialMedia img:first-child{
        width: 45px;
        height: 30px;
    }
    .socialMedia img{
        width: 30px;
        height: 30px;
    }
    .heroheadingWrap button{
        padding: 14px 30px;
        margin-right: 20px;
        font-size: 16px;
    }
    .heroImage img{
        max-width: 80%;
    }
    .heroSideBar img{
        width: 40px;
    }
    .heroSideBar ul{
        font-size: 12px;
    }

}

@media only screen and (max-width:991px) {
    .heroDottedImage img{
        width: 180px;
    }
    .heroheadingWrap h4{
        font-size: 22px;
        margin-top: 20px
    }
    .heroheadingWrap h1{
        font-size: 50px;
    }
    .heroheadingWrap p{
        font-size: 14px;
    }
    .socialMedia img:first-child{
        width: 36px;
        height: 24px;
    }
    .socialMedia img{
        width: 24px;
        height: 24px;
    }
    .heroheadingWrap button{
        padding: 12px 24px;
        margin-right: 18px;
        font-size: 14px;
    }
    .heroImage img{
        max-width: 80%;
    }
    .heroSideBar img{
        width: 34px;
    }
    .heroSideBar ul{
        font-size: 10px;
    }
    .heroButtons{
        margin-top: 20px;
    }
}