.container{
    max-width: 1749px;
    margin: 0 auto;
}
.mainCap{
    background-color: #0E0C38;
    color: white;
    padding-bottom: 264px;
}
h3{
    font-size: 60px;
    display: block;
    margin: 0px;
    padding-top: 95px;
}
.mainCapHeading p{
    font-size: 30px;
    font-weight: 500;
}
.mainCapHeading img{
    padding: 41px;
}
.capList{
    margin-top: 229px;
}
.capSkillsWrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 174px;
}
.skill{
    width: 20%;

}
.skill img{
    width: 106px;
    height: 106px;
}
h5{
    font-size: 35px;
    margin-top: 19px;
}
.skill p{
    font-size: 22px;
}
.mainCapHeading{
    margin-bottom: 229px;
}



/***************** Media Queries *******************/

@media only screen and (max-width:1366px) {
    .mainCapHeading h3{
        font-size: 26px;
        padding-top: 45px;
    }
    .mainCapHeading{
        padding: 30px;
        margin-bottom: 50px;
    }
    .mainCapHeading img{
        width: 260px;
    }
    .mainCapHeading p{
        font-size: 18px;
        width: 80%;
        margin: auto;
    }
    .skill img{
        width: 75px;
        height: 75px;
    }
    .skill h5{
        font-size: 24px;
    }
    .skill p{
        font-size: 16px;
    }
    .capSkillsWrap{
        margin-bottom: 60px;
    }
    .mainCap{
        padding-bottom: 50px;
    }
}

@media only screen and (max-width:991px) {
    .mainCapHeading h3{
        font-size: 28px;
        padding-top: 30px;
    }
    .mainCapHeading{
        padding: 24px;
        margin-bottom: 35px;
    }
    .mainCapHeading img{
        width: 200px;
    }
    .mainCapHeading p{
        font-size: 14px;
        width: 80%;
        margin: auto;
    }
    .skill img{
        width: 55px;
        height: 55px;
    }
    .skill h5{
        font-size: 20px;
    }
    .skill p{
        font-size: 14px;
    }
    .capSkillsWrap{
        margin-bottom: 35px;
    }
    .mainCap{
        padding-bottom: 35px;
    }
}

