.container{
    max-width: 1747px;
    margin: 0 auto;
}
.about{
    background-color: #040221;
    color:white;
}
.aboutWrap{
    display: flex;
    justify-content: space-between;
    padding: 197px 0px 64px;
}
h3{
    font-size: 60px;
    margin: 110px 0px 75px;
    display: inline-block;
}
.aboutLine{
    position: absolute;
    right: 0;
    top: 156px;
}
.aboutHeading, .aboutImage{
    width: 50%;
}
.aboutHeading{
    text-align: left;
    position: relative;
}
.aboutHeading p{
    line-height: 2;
    width: 90%;
}
.aboutImage img{
    max-width: 100%;
}
.aboutImage{
    padding: 74px 65px;
    background-color: #0E0C38;
}
.aboutHeading button{
    margin-top: 85px;
    padding: 30px 55px;
    border-radius: 50px;
    font-size: 30px;
    font-weight: 500;
    background: transparent;
    color: white;
    border: 2px solid white;
}
.aboutHeading button:hover{
    background-color: red;
    border-color: red;
    transition: all 0.7s;
}


/************ Media Queries **************/

@media only screen and (max-width:1366px) {
    .aboutHeading h3{
        font-size: 36px;
        padding-top: 35px;
    }
    .aboutLine{
        width: 200px;
        top: 16%;
    }
    .aboutImage img{
        height: 350px;
    }
    .aboutHeading p{
        font-size: 16px;
    }
    .aboutImage{
        padding: 20px 20px;
        width: 48%;
        vertical-align: middle;
    }
    .aboutHeading button{
        padding: 14px 30px;
        font-size: 16px;
        margin-top: 20px;
    }
    .aboutWrap{
        padding: 50px 0px 34px;
    }
}

@media only screen and (max-width:991px) {
    .aboutHeading h3{
        font-size: 28px;
        padding-top: 28px;
    }
    .aboutLine{
        width: 160px;
        top: 11%;
        right: -4%;
    }
    .aboutImage img{
        height: 280px;
    }
    .aboutHeading p{
        font-size: 14px;
    }
    .aboutImage{
        padding: 15px 15px;
        width: 48%;
        vertical-align: middle;
    }
    .aboutHeading button{
        padding: 12px 24px;
        font-size: 14px;
        margin-top: 16px;
    }
    .aboutWrap{
        padding: 30px 0px 24px;
    }
}
