.container{
    max-width: 1749px;
    margin: 0 auto;
}
.mainContactus{
    background-color: #040B33;
    padding-bottom: 138px;
}
.mainContactusWrap{
    color: white;
}
.mainContactusWrap h3{
    font-size: 60px;
    width: 40%;
    margin: 0px auto 33px;
    font-weight: 700;
}
.mainContactusWrap form{
    display: flex;
    flex-direction: column;
}
.mainContactusWrap p{
    font-size: 20px;
    width: 50%;
    margin: 0px auto 89px;
    font-weight: 500;
    line-height: 2.5;
}
.mainContactusWrap input{
    width: 594px;
    height: 89px;
    margin: 0px 50px 50px 0px;
    font-size: 25px;
    font-weight: 500;
    color: #707070;
    padding: 27px 25px;
}

.contactusForm{
    display: flex;
    justify-content: center;
}
.mainContactusWrap textarea{
    width: 1238px;
    height: 205px;
    font-size: 25px;
    font-weight: 500;
    color: #707070;
    margin: 0px 50px 89px 0px;
    padding: 27px 25px;
}
.formTextarea{
    margin: auto;
    text-align: center;
}
.mainContactusWrap button{
    padding: 30px 85px;
    margin-right: 26px;
    border-radius: 50px;
    font-size: 30px;
    font-weight: 500;
    background-color: transparent;
    border: 2px solid white;
    color: white;
}
.mainContactusWrap button:hover{
    background-color: red;
    border-color: red;
    transition: all 0.7s;
}


/************ Media Queries **************/

@media only screen and (max-width:1366px) {
    .mainContactusWrap img{
        height: 130px;
    }
    .mainContactusWrap h3{
        font-size: 34px;
        padding-top: 20px;
        margin-bottom: 20px;
    }
    .mainContactusWrap p{
        font-size: 14px;
        margin: 0px auto 30px;
    }
    .mainContactusWrap input{
        height: 50px;
        font-size: 18px;
    }
    .mainContactusWrap textarea{
        width: 95%;
        height: 170px;
        font-size: 18px;
        margin: 0px;
    }
    .formTextarea{
        margin: 0px 0px 20px;
        padding: 0px;
        text-align: left;
    }
    .mainContactusWrap button{
        padding: 16px 50px;
        font-size: 18px;
    }
}

@media only screen and (max-width:991px) {
    .mainContactusWrap img{
        height: 130px;
    }
    .mainContactusWrap h3{
        font-size: 24px;
        padding-top: 15px;
        margin-bottom: 10px;
    }
    .mainContactusWrap p{
        font-size: 12px;
        margin: 0px auto 20px;
    }
    .mainContactusWrap input{
        height: 35px;
        font-size: 14px;
    }
    .mainContactusWrap textarea{
        width: 95%;
        height: 150px;
        font-size: 14px;
        margin: 0px;
    }
    .formTextarea{
        margin: 0px 0px 20px;
        padding: 0px;
        text-align: left;
    }
    .mainContactusWrap button{
        padding: 12px 40px;
        font-size: 14px;
    }
}